[submodule "vendor/logos-cpp-sdk"]
	path = vendor/logos-cpp-sdk
	url = https://github.com/logos-co/logos-cpp-sdk.git
	shallow = true

[submodule "vendor/logos-liblogos"]
	path = vendor/logos-liblogos
	url = https://github.com/logos-co/logos-liblogos.git
	shallow = true
[submodule "vendor/logos-module"]
	path = vendor/logos-module
	url = https://github.com/logos-co/logos-module.git
